/* ---------------------------------- home banners -----------------------------
	------------------------------------------------------------------------------- */
	
.content-container{
	@include display-grid;
	@include grid-parent-2-columns (20%, 1fr);
	grid-gap: 3rem;
	
	.content{
		@include grid-child-column (2, 3);
		@include grid-child-row (1, 2);
				
		p{
			text-align: left;
			margin: initial;
			margin-bottom: 1rem;
		}
		
		.box{
			margin: 3rem 0;
		}
		
		/*>h1,h2{
			&:nth-child(n+2){
				margin: 4rem 0 2rem;
			}
		}*/
		
	}
	
}