/* ---------------------------------- Neuron -----------------------------
	------------------------------------------------------------------------------- */

#neurona-left{
	@include display-grid;
	@include grid-parent-2-columns (1fr, 1fr);
	
	@media (max-width: $breakpoint_3){
		@include grid-parent-1-columns (1fr);
		@include grid-parent-2-rows (1fr, 1fr);
	}
	
	@media (max-width: $breakpoint_4){
		@include grid-parent-1-rows (1fr);
	}
	
	.image-neurona{
		position: relative;
		z-index: 100;
		justify-self: end;
		@include prefix(transition-timing-function, ease-in-out, webkit moz o);
		@include prefix(transition, 0.2s, webkit moz o);
		transform: translatex(9rem);
		cursor: pointer;
		@include grid-child-column (1, 2);
		@include grid-child-row (1, 2);
		
		@media (max-width: $breakpoint_3){
			@include prefix(transform, translatex(0rem), webkit moz o);
			@include max-width-neuronas-mobile;
		}
		
		@media (max-width: $breakpoint_4){
			height: calc(70vh - 0px);
			justify-self: center;
		}
		
		&:hover{
			@include prefix(transition-timing-function, ease-in-out, webkit moz o);
			@include prefix(transition, 0.2s, webkit moz o);
			@include prefix(transform, translatex(2rem), webkit moz o);
			
			@media (max-width: $breakpoint_3){
				@include prefix(transform, translatex(0rem), webkit moz o);
			}
			
		}
		
		.anim{
			@include prefix(animation, float 8s ease-in-out infinite, webkit moz o);
			@include max-width-neuronas;
			
			@media (max-width: $breakpoint_3){
				@include max-width-neuronas-mobile;
			}
		
		}
		
		.number-neurona{
			position: absolute;
			right:0;
			top: 15%;
			@include max-width-neuronas-number;
			
			@media (max-width: $breakpoint_3){
				top: 4%;
				@include max-width-neuronas-number-mobile;
			}
			
		}
		
	}
	
	.image-neurona.move{
		@include prefix(transition-timing-function, ease-in-out, webkit moz o);
		@include prefix(transition, 0.2s, webkit moz o);
		@include prefix(transform, translatex(2rem), webkit moz o);
		
		@media (max-width: $breakpoint_3){
			@include prefix(transform, translatex(0rem), webkit moz o);
		}
			
	}
	
	.content-neurona{
		display: none;
		position: relative;
		z-index: 50;
		background: transparentize($color_black, 0.7);
	    border: 1px solid $color_brand_white;
	    border-radius: 0.7rem;
	    padding: 2rem;
		@include max-width-content-neuronas;
		margin: 0 1rem 0 5rem;
		@include grid-child-column (2, 3);
		@include grid-child-row (1, 2);
		
		@media (max-width: $breakpoint_3){
			padding: 1rem;
			margin: 0 auto;
			max-width: initial;
			align-self: baseline;
			@include grid-child-column (1, 2);
			@include grid-child-row (2, 3);
		}
		
		@media (max-width: $breakpoint_4){
			z-index: 100000;
			align-self: center;
			justify-self: center;
			margin: 0 auto;
			background: transparentize($color_black, 0.1);
			@include grid-child-row (1, 2);
		}
		
		&:before{
			content: '';
			position: absolute;
			background: url(../images/svg/side-box.svg);
			background-repeat: no-repeat;
			width: 1.9rem;
			height: 3rem;
			left: -1.9rem;
			top: 15%;
			
			@media (max-width: $breakpoint_3){
				left: 45%;
			    top: -2.4rem;
			    @include prefix(transform, rotate(90deg), webkit moz o);
			}
			
		}
		
		.close-button{
			text-align: right;
			display: block;
			margin: -1rem -1rem 1rem;
			cursor: pointer;
			@include prefix(transition-timing-function, ease-in-out, webkit moz o);
			@include prefix(transition, 0.2s, webkit moz o);
			
			&:hover{
				
				img{
					@include prefix(transition-timing-function, ease-in-out, webkit moz o);
					@include prefix(transition, 0.2s, webkit moz o);
					@include prefix(transform, rotate(90deg), webkit moz o);
				}
				
			}
			
		}
		
		a{
			display: block;
		}
		
	}
	
	.content-neurona.open{
		display: block;
	   
	}
	
}

#neurona-right{
	@include display-grid;
	@include grid-parent-2-columns (1fr, 1fr);
	
	@media (max-width: $breakpoint_4){
		@include grid-parent-1-columns (1fr);
	}
	
	.image-neurona{
		position: relative;
		z-index: 100;
		justify-self: start;
		@include prefix(transition-timing-function, ease-in-out, webkit moz o);
		@include prefix(transition, 0.2s, webkit moz o);
		@include prefix(transform, translatex(-9rem), webkit moz o);
		cursor: pointer;
		@include grid-child-column (2, 3);
		@include grid-child-row (1, 2);
		
		@media (max-width: $breakpoint_3){
			@include prefix(transform, translatex(0rem), webkit moz o);
			@include max-width-neuronas-mobile;
		}
		
		@media (max-width: $breakpoint_4){
			height: calc(70vh - 0px);
			justify-self: center;
			@include grid-child-column (1, 2);
		}
		
		&:hover{
			@include prefix(transition-timing-function, ease-in-out, webkit moz o);
			@include prefix(transition, 0.2s, webkit moz o);
			@include prefix(transform, translatex(-2rem), webkit moz o);
			
			@media (max-width: $breakpoint_3){
				@include prefix(transform, translatex(0rem), webkit moz o);
			}
			
		}
		
		.anim{
			@include prefix(animation, float 8s ease-in-out infinite, webkit moz o);
			@include max-width-neuronas;
			
			@media (max-width: $breakpoint_3){
				@include max-width-neuronas-mobile;
			}
			
		}
		
		.number-neurona{
			position: absolute;
			left:0;
			top: 15%;
			@include max-width-neuronas-number;
			
			@media (max-width: $breakpoint_3){
				top: 4%;
				@include max-width-neuronas-number-mobile;
			}
			
		}
		
	}
	
	.image-neurona.move{
		@include prefix(transition-timing-function, ease-in-out, webkit moz o);
		@include prefix(transition, 0.2s, webkit moz o);
		@include prefix(transform, translatex(-2rem), webkit moz o);
		
		@media (max-width: $breakpoint_3){
			@include prefix(transform, translatex(0rem), webkit moz o);
			//transform: translatey(7rem);
		}
		
	}
	
	.content-neurona{
		display: none;
		position: relative;
		z-index: 50;
		background: transparentize($color_black, 0.7);
	    border: 1px solid $color_brand_white;
	    border-radius: 0.7rem;
	    padding: 2rem;
		@include max-width-content-neuronas;
		margin: 0 5rem 0 1rem;
		justify-self: end;
		@include grid-child-column (1, 2);
		@include grid-child-row (1, 2);
		
		@media (max-width: $breakpoint_3){
			padding: 1rem;
			margin: 0 auto;
			max-width: initial;
			align-self: baseline;
			@include grid-child-column (1, 2);
			@include grid-child-row (2, 3);
		}
		
		@media (max-width: $breakpoint_4){
			z-index: 100000;
			align-self: center;
			justify-self: center;
			margin: 0 auto;
			background: transparentize($color_black, 0.1);
			@include grid-child-row (1, 2);
		}
		
		&:before{
			content: '';
			position: absolute;
			background: url(../images/svg/side-box-2.svg);
			background-repeat: no-repeat;
			width: 2.9rem;
			height: 3.4rem;
			right: -2.8rem;
			top: 15%;
			
			@media (max-width: $breakpoint_3){
				left: 45%;
				top: -3.1rem;
				@include prefix(transform, rotate(-90deg), webkit moz o);
			}
			
		}
		
		.close-button{
			text-align: left;
			display: block;
			margin: -1rem -1rem 1rem;
			cursor: pointer;
			@include prefix(transition-timing-function, ease-in-out, webkit moz o);
			@include prefix(transition, 0.2s, webkit moz o);
			
			@media (max-width: $breakpoint_4){
				margin: -.2rem -.2rem 1rem;
			}
			
			&:hover{
				
				img{
					@include prefix(transition-timing-function, ease-in-out, webkit moz o);
					@include prefix(transition, 0.2s, webkit moz o);
					@include prefix(transform, rotate(90deg), webkit moz o);
				}
				
			}
			
		}
		
		h1{
			text-align: right;
		}
		
		a{
			text-align: right;
			display: block;
		}
		
	}
	
	.content-neurona.open{
		display: block;
	   
	}
	
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(0px);
	}
}

@-webkit-keyframes float {
	0% {
		-webkit-transform: translatey(0px);
	}
	50% {
		-webkit-transform: translatey(-30px);
	}
	100% {
		-webkit-transform: translatey(0px);
	}
}

@-moz-keyframes float {
	0% {
		-moz-transform: translatey(0px);
	}
	50% {
		-moz-transform: translatey(-30px);
	}
	100% {
		-moz-transform: translatey(0px);
	}
}

@-o-keyframes float {
	0% {
		-o-transform: translatey(0px);
	}
	50% {
		-o-transform: translatey(-30px);
	}
	100% {
		-o-transform: translatey(0px);
	}
}