/* ---------------------------------- Neuron -----------------------------
	------------------------------------------------------------------------------- */

#neurona-left{
	@include display-grid;
	@include grid-parent-2-columns (1fr, 1fr);
	
	.image-neurona{
		position: relative;
		z-index: 100;
		justify-self: end;
		transition-timing-function: ease-in-out;
		transition: 0.2s;
		transform: translatex(9rem);
		cursor: pointer;
		@include grid-child-column (1, 2);
		@include grid-child-row (1, 2);
		
		&:hover{
			transition-timing-function: ease-in-out;
			transition: 0.2s;
			transform: translatex(2rem);
		}
		
		.anim{
			animation: float 8s ease-in-out infinite;
			@include max-width-neuronas;
		}
		
		.number-neurona{
			position: absolute;
			right:0;
			top: 15%;
			@include max-width-neuronas-number;
		}
		
	}
	
	.image-neurona.move{
		transition-timing-function: ease-in-out;
		transition: 0.2s;
		transform: translatex(2rem);
	}
	
	.content-neurona{
		display: none;
		position: relative;
		z-index: 50;
		background: transparentize($color_black, 0.7);
	    border: 1px solid $color_brand_white;
	    border-radius: 0.7rem;
	    padding: 2rem;
		@include max-width-content-neuronas;
		margin: 0 1rem 0 5rem;
		// place-self: center;
		@include grid-child-column (2, 3);
		@include grid-child-row (1, 2);
		
		&:before{
			content: '';
			position: absolute;
			background: url(../images/svg/side-box.svg);
			background-repeat: no-repeat;
			width: 1.9rem;
			height: 3rem;
			left: -1.9rem;
			top: 15%;
		}
		
		.close-button{
			text-align: right;
			display: block;
			margin: -1rem -1rem 1rem;
			cursor: pointer;
			transition-timing-function: ease-in-out;
			transition: 0.2s;
			
			&:hover{
				
				img{
					transition-timing-function: ease-in-out;
					transition: 0.2s;
					transform: rotate(90deg);
				}
				
			}
			
		}
		
		h1{
			
		}
		
		a{
			display: block;
		}
		
	}
	
	.content-neurona.open{
		display: block;
	   
	}
	
}

#neurona-right{
	@include display-grid;
	@include grid-parent-2-columns (1fr, 1fr);
	
	.image-neurona{
		position: relative;
		z-index: 100;
		justify-self: start;
		transition-timing-function: ease-in-out;
		transition: 0.2s;
		transform: translatex(-9rem);
		cursor: pointer;
		@include grid-child-column (2, 3);
		@include grid-child-row (1, 2);
		
		&:hover{
			transition-timing-function: ease-in-out;
			transition: 0.2s;
			transform: translatex(-2rem);
		}
		
		.anim{
			animation: float 8s ease-in-out infinite;
			@include max-width-neuronas;
		}
		
		.number-neurona{
			position: absolute;
			left:0;
			top: 15%;
			@include max-width-neuronas-number;
		}
		
	}
	
	.image-neurona.move{
		transition-timing-function: ease-in-out;
		transition: 0.2s;
		transform: translatex(-2rem);
	}
	
	.content-neurona{
		display: none;
		position: relative;
		z-index: 50;
		background: transparentize($color_black, 0.7);
	    border: 1px solid $color_brand_white;
	    border-radius: 0.7rem;
	    padding: 2rem;
		@include max-width-content-neuronas;
		margin: 0 5rem 0 1rem;
		justify-self: end;
		@include grid-child-column (1, 2);
		@include grid-child-row (1, 2);
		
		&:before{
			content: '';
			position: absolute;
			background: url(../images/svg/side-box-2.svg);
			background-repeat: no-repeat;
			width: 2.9rem;
			height: 3.4rem;
			right: -2.8rem;
			top: 15%;
		}
		
		.close-button{
			text-align: left;
			display: block;
			margin: -1rem -1rem 1rem;
			cursor: pointer;
			transition-timing-function: ease-in-out;
			transition: 0.2s;
			
			&:hover{
				
				img{
					transition-timing-function: ease-in-out;
					transition: 0.2s;
					transform: rotate(90deg);
				}
				
			}
			
		}
		
		h1{
			text-align: right;
		}
		
		a{
			text-align: right;
			display: block;
		}
		
	}
	
	.content-neurona.open{
		display: block;
	   
	}
	
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-30px);
	}
	100% {
		transform: translatey(0px);
	}
}