extends ./jade/includes/layout-pages.jade

//- Head html tag
block title
	title Reacreditación Ingeniería 2019

//- Content page
block content

	+swiper-container
		+set('content')
			
			//-------------------------	
			//- Neurona home
			//-------------------------		
			+swiper-home('neurona-home')
				+set('content')
					<div class='anim'>
						<img src="images/svg/sistema-completo.svg" alt="sistema-completo" />
					</div>
					
					div.content
						a(href='https://www.unbosque.edu.co/ingenieria' target='_blank'): img(src='images/svg/logo-ueb.svg' alt='Universidad El Bosque - Programa de Ingeniaría de Sistemas')
						a.mobile(href='https://www.unbosque.edu.co/ingenieria' target='_blank'): img(src='images/svg/logo-ueb-mobile.svg' alt='Universidad El Bosque - Programa de Ingeniaría de Sistemas')
							
						h1 Informe de Autoevaluación con Fines de Renovación de la Acreditación de Alta Calidad
						
						h4 Vigilada <b>Mineducación</b> 
						
						hr
						
						p Vive, informate y conoce como eres y hacemos parte de este sistema en reacreditación, de una forma como nunca antes la habias visto, <b>“La ingeniería de un sistema en reacreditación”</b>, es el espacio para que conoscas como se esta llevando a cabo la reacreditación del programa de ingeniería de sistemas de la Facultad de Ingeniería de la <b>Universidad El Bosque</b>, se parte del todo.
						
					img.mouse(src='images/svg/mouse.svg' alt='scroll to win')
						
			//-------------------------	
			//- Neurona 1
			//-------------------------		
			+swiper-info-left('neurona-left', 'neurona-1')
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-01/neurona-01.svg" alt="neurona-01" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-01/neurona-numero-01.svg" alt="neurona-numero-01")
				+set('contentinfo')
					h2 Generalidades del proceso de autoevaluación del programa de Ingeniería de Sistemas
					a(href='PDF/neuronas/1.1-ETAPAS-DEL-PROCESO-DE-AUTOEVALUACION-CON-FINES-DE-RENOVACION-DE-ACREDITACION-DEL-PROGRAMA-DE-INGENIERIA-DE-SISTEMAS.pdf' data-lity="") 1.1 Etapas Del Proceso De Autoevaluación Con Fines De Renovación De Acreditación Del Programa De Ingeniería De Sistemas.
					a(href='PDF/neuronas/1.2-COMPONENTES-DEL-MODELO.pdf' data-lity="") 1.2 Componentes Del Modelo .
					a(href='PDF/neuronas/1.3-PONDERACION.pdf' data-lity="") 1.3 Ponderación.
					a(href='PDF/neuronas/1.4-AUTOEVALUACION-DEL-PROGRAMA.pdf' data-lity="") 1.4 Autoevaluación Del Programa.
					+anexos
							
			//-------------------------	
			//- Neurona 2
			//-------------------------		
			+swiper-info-right('neurona-right', 'neurona-2')
				+set('contentinfo')
					h2 Contexto institucional
					a(href='PDF/neuronas/2-CONTEXTO-INSTITUCIONAL.pdf' data-lity="") 2. Contexto Institucional.
					+anexos
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-02/neurona-02.svg" alt="neurona-02" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-02/neurona-numero-02.svg" alt="neurona-numero-02")
					
			//-------------------------	
			//- Neurona 3
			//-------------------------		
			+swiper-info-left('neurona-left', 'neurona-3')
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-03/neurona-03.svg" alt="neurona-03" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-03/neurona-numero-03.svg" alt="neurona-numero-03")
				+set('contentinfo')
					h2 Contexto interno del programa
					a(href='PDF/neuronas/3.1-CONTEXTO-DE-LA-FACULTAD-DE-INGENIERIA.pdf' data-lity="") 3.1 Contexto De La Facultad De Ingeniería.
					a(href='PDF/neuronas/3.2-CONTEXTO-DEL-PROGRAMA-DE-INGENIERIA-DE-SISTEMAS.pdf' data-lity="") 3.2 Contexto Del Programa De Ingeniería De Sistemas.
					+anexos
					
			//-------------------------	
			//- Neurona 4
			//-------------------------		
			+swiper-info-right('neurona-right', 'neurona-4')
				+set('contentinfo')
					h2 Aspectos positivos y recomendaciones del consejo nacional de acreditación en el marco de la acreditación del programa
					a(href='PDF/neuronas/4.1ASPECTOS-POSITIVOS.pdf' data-lity="") 4.1 Aspectos Positivos.
					a(href='PDF/neuronas/4.2-RECOMENDACIONES.pdf' data-lity="") 4.2 Recomendaciones.
					a(href='PDF/neuronas/4.3-AVANCES-EN-EL-PLAN-DE-MEJORAMIENTO-Y-CONSOLIDACION-2015.pdf' data-lity="") 4.3 Avances En El Plan De Mejoramiento Y Consolidación 2015.
					+anexos
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-04/neurona-04.svg" alt="neurona-04" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-04/neurona-numero-04.svg" alt="neurona-numero-04")
					
			//-------------------------	
			//- Neurona 5
			//-------------------------		
			+swiper-info-left('neurona-left', 'neurona-5')
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-05/neurona-05.svg" alt="neurona-05" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-05/neurona-numero-05.svg" alt="neurona-numero-05")
				+set('contentinfo')
					h2 Autoevaluación de las características de calidad
					a(href='PDF/neuronas/5.1-FACTOR-No-1-MISION-VISION-Y-PROYECTO-INSTITUCIONAL.pdf' data-lity="") 5.1 Factor No 1 Misión, Visión Y Proyecto Institucional.
					a(href='PDF/neuronas/5.3-FACTOR-No-2-ESTUDIANTES.pdf' data-lity="") 5.3 Factor No 2  Estudiantes.
					a(href='PDF/neuronas/5.4-FACTOR-No-4-PROCESOS-ACADEMICOS.pdf' data-lity="") 5.4 Factor No 4  Procesos Académicos.
					a(href='PDF/neuronas/5.5-FACTOR-No-5-VISIBILIDAD-NACIONAL-E-INTERNACIONAL.pdf' data-lity="") 5.5 Factor No 5  Visibilidad Nacional E Internacional.
					a(href='PDF/neuronas/5.6-FACTOR-No-6-INVESTIGACION-INNOVACION-Y-CREACION-ARTISTICA-Y-CULTURAL.pdf' data-lity="") 5.6 Factor No 6  Investigación, Innovación Y Creación Artística Y Cultural.
					a(href='PDF/neuronas/5.7-FACTOR-No-7-BIENESTAR-INSTITUCIONAL.pdf' data-lity="") 5.7 Factor No 7  Bienestar Institucional.
					a(href='PDF/neuronas/5.8-FACTOR-No-8-ORGANIZACION-ADMINISTRACION-Y-GESTION.pdf' data-lity="") 5.8 Factor No 8  Organización, Administración Y Gestión.
					a(href='PDF/neuronas/5.9-FACTOR-No-9-IMPACTO-DE-LOS-EGRESADOS-EN-EL-MEDIO.pdf' data-lity="") 5.9 Factor No 9  Impacto De Los Egresados En El Medio.
					a(href='PDF/neuronas/5.10-FACTOR-No-10-RECURSOS-FISICOS-Y-FINANCIEROS.pdf' data-lity="") 5.10 Factor No 10  Recursos Físicos Y Financieros.

					
			//-------------------------	
			//- Neurona 6
			//-------------------------		
			+swiper-info-right('neurona-right', 'neurona-6')
				+set('contentinfo')
					h2 Análisis sobre la calidad del programa
					a(href='PDF/neuronas/6.1-RESULTADOS-DEL-PROCESO-DE-AUTOEVALUACION-2015.pdf' data-lity="") 6.1 Resultados Del Proceso De Autoevaluación 2015.
					a(href='PDF/neuronas/6.2-GRADO-DE-CUMPLIMIENTO-DE-LAS-CARACTERISTICAS-EVALUADAS--2019.pdf' data-lity="") 6.2 Grado De Cumplimiento De Las Características Evaluadas - 2019.
					a(href='PDF/neuronas/6.3-JUICIO-EXPLICITO-SOBRE-LA-CALIDAD-GLOBAL-DEL-PROGRAMA--2019.pdf' data-lity="") 6.3 Juicio Explícito Sobre La Calidad Global Del Programa - 2019.
					+anexos
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-06/neurona-06.svg" alt="neurona-06" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-06/neurona-numero-06.svg" alt="neurona-numero-06")

					
			//-------------------------	
			//- Neurona 7
			//-------------------------		
			+swiper-info-left('neurona-left', 'neurona-7')
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-07/neurona-07.svg" alt="neurona-07" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-07/neurona-numero-07.svg" alt="neurona-numero-07")
				+set('contentinfo')
					h2 Plan de mejoramiento
					a(href='PDF/neuronas/7.1-METODOLOGIA-DE-DESARROLLO.pdf' data-lity="") 7.1 Metodología De Desarrollo.
					a(href='PDF/neuronas/7.2-MATRIZ-DE-CRUCE-PLAN-DE-MEJORAMIENTO-–-CARACTERISTICAS-DE-CALIDAD.pdf' data-lity="") 7.2 Matriz De Cruce Plan De Mejoramiento – Características De Calidad.
					+anexos
					
			//-------------------------	
			//- Neurona 8
			//-------------------------		
			+swiper-info-right('neurona-right', 'neurona-8')
				+set('contentinfo')
					h2 Referencias
					a(href='PDF/neuronas/8-REFERENCIAS.pdf' data-lity="") 8 Referencias.
					+anexos
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-08/neurona-08.svg" alt="neurona-08" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-08/neurona-numero-08.svg" alt="neurona-numero-08")
					
					
					
					
					
					
					
					
					
					