extends ./jade/includes/layout-pages.jade

//- Head html tag
block title
	title Reacreditación Ingeniería 2019

//- Content page
block content

	+swiper-container
		+set('content')
			
			//-------------------------	
			//- Neurona home
			//-------------------------		
			+swiper-home('neurona-home')
				+set('content')
					<div class='anim'>
						<img src="images/svg/sistema-completo.svg" alt="sistema-completo" />
					</div>
					
					div.content
						a(href='https://www.unbosque.edu.co/ingenieria' target='_blank'): img(src='images/svg/logo-ueb.svg' alt='Universidad El Bosque - Programa de Ingeniaría de Sistemas')
						a.mobile(href='https://www.unbosque.edu.co/ingenieria' target='_blank'): img(src='images/svg/logo-ueb-mobile.svg' alt='Universidad El Bosque - Programa de Ingeniaría de Sistemas')
							
						h1 Informe de Autoevaluación con Fines de Renovación de la Acreditación de Alta Calidad
						
						h4 Vigilada <b>Mineducación</b> 
						
						hr
						
						p Vive, informate y conoce como eres y hacemos parte de este sistema en reacreditación, de una forma como nunca antes la habias visto, <b>“La ingeniería de un sistema en reacreditación”</b>, es el espacio para que conoscas como se esta llevando a cabo la reacreditación del programa de ingeniería de sistemas de la Facultad de Ingeniería de la <b>Universidad El Bosque</b>, se parte del todo.
						
					img.mouse(src='images/svg/mouse.svg' alt='scroll to win')
						
			//-------------------------	
			//- Neurona 1
			//-------------------------		
			+swiper-info-left('neurona-left', 'neurona-1')
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-01/neurona-01.svg" alt="neurona-01" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-01/neurona-numero-01.svg" alt="neurona-numero-01")
				+set('contentinfo')
					h2 Generalidades del proceso de autoevaluación del programa de Ingeniería de Sistemas
					a(href='PDF/1-GENERALIDADES-DEL-PROCESO-DE-AUTOEVALUACION-DEL-PROGRAMA-DE-INGENIERIA-DE-SISTEMAS.pdf' data-lity="") Ver documento
					+anexos
							
			//-------------------------	
			//- Neurona 2
			//-------------------------		
			+swiper-info-right('neurona-right', 'neurona-2')
				+set('contentinfo')
					h2 Contexto institucional
					a(href='PDF/2-CONTEXTO-INSTITUCIONAL.pdf' data-lity="") Ver documento
					+anexos
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-02/neurona-02.svg" alt="neurona-02" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-02/neurona-numero-02.svg" alt="neurona-numero-02")
					
			//-------------------------	
			//- Neurona 3
			//-------------------------		
			+swiper-info-left('neurona-left', 'neurona-3')
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-03/neurona-03.svg" alt="neurona-03" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-03/neurona-numero-03.svg" alt="neurona-numero-03")
				+set('contentinfo')
					h2 Contexto interno del programa
					a(href='PDF/3-CONTEXTO-INTERNO-DEL-PROGRAMA.pdf' data-lity="") Ver documento
					+anexos
					
			//-------------------------	
			//- Neurona 4
			//-------------------------		
			+swiper-info-right('neurona-right', 'neurona-4')
				+set('contentinfo')
					h2 Aspectos positivos y recomendaciones del consejo nacional de acreditación en el marco de la acreditación del programa
					a(href='PDF/4-ASPECTOS-POSITIVOS-Y-RECOMENDACIONES-DEL-CONSEJO-NACIONAL-DE-ACREDITACION-EN-EL-MARCO-DE-LA-ACREDITACION-DEL-PROGRAMA-–-AVANCES-EN-EL-PLAN-DE-MEJORAMIENTO-Y-CONSOLIDACION-2015.pdf' data-lity="") Ver documento
					+anexos
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-04/neurona-04.svg" alt="neurona-04" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-04/neurona-numero-04.svg" alt="neurona-numero-04")
					
			//-------------------------	
			//- Neurona 5
			//-------------------------		
			+swiper-info-left('neurona-left', 'neurona-5')
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-05/neurona-05.svg" alt="neurona-05" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-05/neurona-numero-05.svg" alt="neurona-numero-05")
				+set('contentinfo')
					h2 Autoevaluación de las características de calidad
					a(href='PDF/5-AUTOEVALUACION-DE-LAS-CARACTERISTICAS-DE-CALIDAD.pdf' data-lity="") Ver documento
					+anexos

					
			//-------------------------	
			//- Neurona 6
			//-------------------------		
			+swiper-info-right('neurona-right', 'neurona-6')
				+set('contentinfo')
					h2 Análisis sobre la calidad del programa
					a(href='PDF/6-ANALISIS-SOBRE-LA-CALIDAD-DEL-PROGRAMA.pdf' data-lity="") Ver documento
					+anexos
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-06/neurona-06.svg" alt="neurona-06" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-06/neurona-numero-06.svg" alt="neurona-numero-06")

					
			//-------------------------	
			//- Neurona 7
			//-------------------------		
			+swiper-info-left('neurona-left', 'neurona-7')
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-07/neurona-07.svg" alt="neurona-07" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-07/neurona-numero-07.svg" alt="neurona-numero-07")
				+set('contentinfo')
					h2 Plan de mejoramiento
					a(href='PDF/7-PLAN-DE-MEJORAMIENTO.pdf' data-lity="") Ver documento
					+anexos
					
			//-------------------------	
			//- Neurona 8
			//-------------------------		
			+swiper-info-right('neurona-right', 'neurona-8')
				+set('contentinfo')
					h2 Referencias
					a(href='PDF/8-REFERENCIAS.pdf' data-lity="") Ver documento
					+anexos
				+set('contentsvg')
					<div class="anim">
						<img src="images/svg-neurona-08/neurona-08.svg" alt="neurona-08" />
					</div>
					div.number-neurona: img(src="images/svg-neurona-08/neurona-numero-08.svg" alt="neurona-numero-08")
					
					
					
					
					
					
					
					
					
					