/* ---------------------------------- accordion  -----------------------------
	------------------------------------------------------------------------------- */

// ACCORDION
.acordiones{
	
	cursor: pointer;
	
	.ui-accordion-header{
		margin: 1rem 0 0;
		padding: .5rem;
		position: relative;
		border-top: 1px solid $color_brand_white;
		border-bottom: 1px solid $color_brand_white;		
	}
	
	.ui-accordion-header{
		
		span{
			content: "";
			height: 10px;
			width: 20px;
			background: url(../images/svg/arrow.svg);
			background-size: contain;
			background-repeat: no-repeat;
			display: block;
			position: absolute;
			right: 10px;
			top: 40%;
		}
		
	}
	
	.ui-accordion-header.ui-state-active,
	.ui-accordion-header.ui-state-hover{
		
		span{
			content: "";
			height: 10px;
			width: 20px;
			background: url(../images/svg/arrow-up.svg);
			background-size: contain;
			background-repeat: no-repeat;
			display: block;
			position: absolute;
			right: 10px;
			top: 40%;
		}
		
	}
	
	.ui-accordion-content{
		padding: 1rem;
		background: #3e3e3e;
		
		p{
			font-size: 15px;
			font-family: $font_acherus_bold;
		}
		
	}
	
}
	



