$mobile: 380px;
$mobile-medida: 380; //tamaño para calculo
$tablet-3: 500px;
$tablet-2: 600px;
$tablet-1: 700px;
$tablet: 788px; //768px;
$tablet-medida: 788; //tamaño para calculo
$desktop-small: 980px;
$desktop-medida: 1180; // tamaño descontando padding para calculo

/* ------------------------ calculos bootstrap ------------------------
------------------------------------------------------------------------ */
$breakpoint_1: 1199px;
$breakpoint_2: 991px;
$breakpoint_3: 768px;
$breakpoint_4: 500px;

$color_text: #494C4D;

$color_brand:  #7BC142;
$color_brand_dark: #2B3427;
$color_brand_dark_15: #D7D8D0;
$color_brand_dark_20: #446435;
$color_gray_80: #4A4A4A;
$color_gray_2: #FBFBFB;
$color_gray_5: #F7F7F7;
$color_gray_10: #F2F2F2;
$color_gray_15: #EDEDED;
$color_gray_20: #DDDDDD;
$color_gray_50: #BABCBF;
$color_gray_60: #9B9B9B;
$color_brand_orange: #FE8020; // color naranja UEB
$color_brand_white: #FFFFFF; // color naranja UEB
$color-font: #4A4A4A;
$color_light_grey: #F9F9F9;
$color_line_grey: #979797;
$color_line_grey_2: #E3E3E3;

$color_footer_disclaimer: #D8D1CA;

$color_facebook: #225c9b;
$color_twitter: #00acf4;
$color_in: #0077b4;
$color_googleplus: #DA4D40;



// ------------------------------------------------------
// ----------------------- Colors hexed ----------------------- //
$color_black: #000000;

// ------------------------------------------------------
// ----------------------- Fonts ----------------------- //
$font-menu:13px; // menu links
$font-titles-xl:40px; // general titles
$font-titles:30px; // general titles

$font-titles-entrada:25px; // font title entrada
$font-titles-entrada-line:35px; // font title entrada line

$font-destacado-entrada:16px; // font destacado entrada
$font-destacado-entrada-line:22px; // font destacado entrada line height

$font-destacado-entrada-blog:28px; // font destacado entrada blog
$font-destacado-entrada-blog-line:32px; // font destacado entrada blog line height

$font-titles-cards:20px; // font title cards
$font-titles-cards-line:25px; // font title cards line

$font-destacado:17px; // font destacado
$font-destacado-line:22px; // font destacado line height

$font-body-text:16px; // font for all site
$font-body-text-line:24px; // font for all site

$font-vigilada:10px; // font for all site
$font-vigilada-line:12px; // font for all site

$font-footer-1:12px; // font footer h4
$font-footer-1-line:16px; // font footer h4

$font-general-text:16px; // font general text
$font-general-text-line:25px; // font general text

$font-subtitles:20px; // general subtitles
$font-txt-xxl:18px; // buttons
$font-txt-xl:16px; // breadcumb
$font-txt-l:14px; // paragraphs large
$font-txt-m:13px; // box titles 
$font-txt-s:12px; // entrance titles
$font-size-buttons-menu-top:14px; // buttons menu top


//font brand "acherus grotesque"
//font brand black
$font-brandb-xxl: 52px;
$font-brandb-l: 33px;
$font-brandb-m: 20px;
$font-brandb-xs: 11px;

//font brand bold
$font-bsb-xl: 39px;
$font-bsb-m: 16px;
$font-bsb-l: 28px;

//FONT BRAND ULTRA LIGHT
$font-bl-xl: 39px;
$font-bl-l: 33px;
$font-bl-m: 20px;
$font-bl-s: 17px;

//FONT BASE “LATO”
//FONT BASE BOLD
$font-baseb-xs: 10px;

//font base regular
$font-baser-m: 13px;
$font-baser-s: 14px;
$font-baser-xs: 11px;

//FONT BASE SERIF “PT SERIF”
//FONT BASE SERIF
$font-serif-s: 14px;
$font-serif-xs: 12px;

//screen size
$mobile-l-width: 425px;
$mobile-m-width: 375px;
$mobile-s-width: 320px;
$mobile-width: $mobile-l-width;
$tablet-width: 768px;
$tablet-medium-width: 597px;
$laptop-width: 1024px;
$desktop-width: 1180px;
$desktop-width-limit: 1200px;

$mobile-header-height: 47px;

// Algunos elementos tienen background que se extiende fuera del 1180px
$bg-demasia-width: 100px;
$base-opacity: .5;



// -----------------------
// font family acherus
// -----------------------
$font_acherus_black: 'acherus_grotesqueblack'; // black
$font_acherus_black_italic: 'acherus_grotesqueblack_italic'; // black light
$font_acherus_bold: 'acherus_grotesquebold'; // bold
$font_acherus_bold_italic: 'acherus_grotesquebold_italic'; // bold italic
$font_acherus_extrabold: 'acherus_grotesqueextrabold'; // extrabold
$font_acherus_extrabold_italic: 'acherus_grotesqueXBdIt'; // extrabold italic
$font_acherus_regular_italic: 'acherus_grotesqueRgIt'; // regular italic
$font_acherus_light: 'acherus_grotesquelight'; // light
$font_acherus_light_italic: 'acherus_grotesquelight_italic'; // light italic
$font_acherus_medium: 'acherus_grotesquemedium'; // medium
$font_acherus_medium_italic: 'acherus_grotesqueMdIt'; // medium italic
$font_acherus_regular: 'acherus_grotesqueregular'; // medium italic
$font_acherus_thin: 'acherus_grotesquethin'; // thin
$font_acherus_thin_italic: 'acherus_grotesquethin_italic'; // thin italic
$font_acherus_ultralight: 'acherus_grotesqueultralight'; // ultralight
$font_acherus_ultralight_italic: 'acherus_grotesqueultraLtIt'; // ultralight italic
$font_acherus_ultralight_italic: 'acherus_grotesqueultraLtIt'; // ultralight italic


// -----------------------
// font family lato
// -----------------------
$font_lato_black: 'latoblack'; // black
$font_lato_black_italic: 'latoblack_italic'; // black italic
$font_lato_bold: 'latobold'; // bold
$font_lato_bold_italic: 'latobold_italic'; // bold italic
$font_lato_hairline: 'latohairline'; // hairline
$font_lato_hairline_italic: 'latohairline_italic'; // hairline italic
$font_lato_italic: 'latoitalic'; // italic
$font_lato_light: 'latolight'; // light
$font_lato_light_italic: 'latolight_italic'; // light italic
$font_lato_regular: 'latoregular'; // regular
